.navbar {
  color: #fff;
  background-color: #000 !important;
}

.navbar-brand {
  padding: 5px!important;
}


.navbar-brand img{
  height: 100%;
}


.page-header {
  padding-bottom: 100px;
}

.page-header img {
  width: 300px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 400;
}

.page-header .values {
  margin-top: 50px;
  margin-bottom: 30px;
}

.values {
  margin-top: 30px;
  font-size: 1.3rem;
}

.description, .info p, .card-description {
  color: #666;
}

.description {
  font-size: 1.2rem;

}

.info p {
  font-size: 1.0rem;
}

.video-container iframe {
  height: 250px;
  width: 400px;
  max-width: 100%;
}

.section {
  padding: 50px 0;
}

.section.timeline i {
  font-size: 2rem;
}


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

