.navbar {
  color: #fff;
  background-color: #000 !important;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.navbar-brand {
  padding: 5px!important;
}


.navbar-brand img{
  height: 100%;
}


.page-header {
  padding-bottom: 30px;
}

.page-header img.logo-header {
  width: 300px;
  max-width: 60%;
  margin-bottom: 20px;
}

.bold {
  font-weight: 400;
}

.page-header .values {
  margin-top: 50px;
  margin-bottom: 30px;
}

.values {
  margin-top: 30px;
  font-size: 1.3rem;
}

.description, .info p, .card-description {
  color: #666;
}

.description {
  font-size: 1.2rem;

}

.info p {
  font-size: 1.0rem;
}

.video-container iframe {
  height: 250px;
  width: 400px;
  max-width: 100%;
}

.section {
  padding: 50px 0;
}

.section.timeline i {
  font-size: 2rem;
}

.section.instructors img {
  max-height: 250px;
}

.section.readings img {
  height: 180px;
  object-fit: cover;
  object-position: center;
}

/* .section.join .description {
  line-height: 3rem !important;
} */

.video-berlin-coding-challenge {
  margin: 30px 0;
  max-width: 100%;
}


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.section.program .info-title {
  margin-top: 10px;
}

.section.program .logo-language img {
  height: 70px;
}

.section.supports .title {
  margin-bottom: 20px;
}

.section.supports img {
  max-height: 60px;
  min-height: 20px;
  filter: opacity(70%) grayscale(100%);
  transition:.5s;
  margin: 20px 0;
}

.section.supports img:hover {
  filter: opacity(100%) grayscale(0%);
  transition:.5s;
}

.code {
  background-color: #eee;
  text-align: left;
  padding: 10px 15px;
  font-size: 1rem;
  display: flex;
}


.info {
  padding: 40px 0 30px;
}


@media (max-width: 1000px) {
  
  .page-header {
    padding-bottom: 0px;
  }
  .page-header img.logo-header {
    width: 200px;
  }
  .page-header .title {
    font-size: 1.8rem;
  }

  .page-header .values {
    margin-top: 30px;
    margin-bottom: 0px;
  }

}